<!-- Use the layout automatically -->
<!-- <%- include('../partials/header') %> -->

<h1 class="error-title"><%= title %></h1>

<!-- Display the error message passed from the controller -->
<div class="error-message">
  <%- message %>
</div>

<!-- <%- include('../partials/footer') %> -->

<!-- Intentional Error handling  -->


 <!-- <h1><%= title %></h1>
<p><%= message %></p>
<p><strong>Error detail:</strong> <%= error %></p> -->